input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

body {
  zoom: 80%;
}
.nav-container {
  height: 86.5vh !important;
}
.main-container {
  padding: 0 2rem;
  width: 100%;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 3rem;
  overflow: hidden;
  justify-content: center;
}

.row {
  padding: 0 !important;
  margin: 0 !important;
}
#toast-container {
  top: 10% !important;
  right: auto !important;
  bottom: auto !important;
  right: 20% !important;
}
.scale-out {
  height: 0vh;
}

@media only screen and (max-width: 900px) {
  .nav-container {
    height: 86.5vh !important;
  }
  #budgetModal {
    width: 100vw !important;
    height: fit-content !important;
    max-height: 90vh !important;
  }
  #budgetModal div {
    width: 100% !important;
    justify-items: flex-end;
  }
  #budgetModal div input {
    gap: 0;
    padding: 0;
    margin: 0;
  }
  #budgetModal div button {
    width: 150%;
    gap: 0;
    padding: 0;
    margin: 0 auto;
  }
  #budgetModal .modal-footer {
    display: flex;
    margin-bottom: 2rem;
  }
  #budgetModal .modal-footer .btn {
    width: 40%;
    margin-left: 30% !important;
  }

  #toast-container {
    top: auto !important;
    right: auto !important;
    bottom: 0 !important;
    left: auto !important;
  }
  .col {
    width: 94vw;
  }
  .main-container {
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 0;
  }
  .modal {
    width: 80% !important;
    padding: 0.1rem !important;
    overflow: hidden;
  }
  .modal input {
    width: 70% !important;
  }
  .modal button {
    margin-left: 60% !important;
  }
  .exchange-rate-options {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 1rem !important;
  }
  .news-container {
    grid-template-columns: 1fr !important;
    grid-template-rows: 1fr !important;
  }
}
